In [6]:
from bokeh.plotting import figure,output_file, show
import pandas

df=pandas.read_csv("data.csv")
df

   x   y
0  1   2
1  3   4
2  5   6
3  7   8
4  9  10

In [7]:
dfx=df["x"] #save the col x to x
dfx

0    1
1    3
2    5
3    7
4    9
Name: x, dtype: int64

In [8]:
dfy=df["y"]
dfy

0     2
1     4
2     6
3     8
4    10
Name: y, dtype: int64

In [10]:
output_file("Line_from_csv.html")

f=figure() #default so no parameter

f.line(dfx, dfy)

show(f)